/* relatorios.css */

/* Botões de escolha do tipo de relatório */
.tipo-opcao {
    background-color: #505230;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #EDDBC5;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,2);
}

.tipo-opcao:hover {
    background-color: #EDDBC5;
    color: #505230;
}

/* Estilo do container da etapa de período */
#etapaPeriodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
}

/* Inputs de data */
#etapaPeriodo label {
    font-weight: 600;
    color: #505230;
    margin: 5px 0 2px;
}

#etapaPeriodo input[type="date"] {
    padding: 10px;
    border: 1px solid #505230;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #EDDBC5;
    color: #505230;
    width: 25%;
    margin-bottom: 15px;
    flex-direction: column;
}

.campo-data {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza dentro do container */
}


/* Botões de navegação */
.btn-container {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.btn-container button {
    background-color: #505230;
    color: #EDDBC5;
    border: none;
    padding: 7px 15px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0);
}

.btn-container button:hover {
    background-color: #DAB79F;
    color: #505230;
}

/* Popup de tabela (respeita seu estilo original) */
#tabelaRelatorioPopup {
    display: none;
    position: center;
    top: 100px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 100px);

    z-index: 1001;
    padding: 20px;
    overflow: auto;
}

#tabelaRelatorioContent {
    background-color: #DAB79F;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    margin: auto;
}

#tabelaRelatorioContent h2,
#tabelaRelatorioContent p {
    color: #505230;
    text-align: center;
    margin-bottom: 15px;
}

#tabelaRelatorioContent table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#tabelaRelatorioContent th,
#tabelaRelatorioContent td {
    border: 1px solid #505230;
    padding: 10px;
    text-align: left;
    color: #505230;
}

#tabelaRelatorioContent th {
    background-color: #EDDBC5;
}
